
.nav-link{
    text-align: center;
}
.pic-section{
    max-height: 3rem;
    overflow-y: hidden;
    /* width: 100%; */;
    transition: all 0.5 linear;

}
.pic-section img{
    width: 100%;
    /* height: max-content; */
}
.text-section {
    margin: 0;
}

.post{
    height: fit-content;
}

.full-height{
   max-height: fit-content;
}


.rotated{
    transform: rotateX(180deg);
}
.toggle{
    transition: transform 0.5s ease-in-out;

}

.selected{
    background: #8356d6;
    font-weight: 700;
    border-left-width: 1rem;
}

.post-btn{
    width: 100%;
    margin-top : 10px;
}

.disabled{
    display: none;
}

.logout{
    content : 'Logout'
}

.list-group-item a{
    text-decoration: none;
    color: black;
}

.list-group-horizontal a{
    padding: auto;
}

h1 {
    display: none;
}

.md{
    display: none;
}

.heart{
    font-size: 24px;
    color: hotpink;
}
.reload-btn{
    font-size: xx-large;
}



@media only screen and (min-width : 768px){
    .list-group-horizontal{
        flex-direction: column;
    }
    .list-group-horizontal * {
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;

    }
    .list-group-horizontal a + .list-group-horizontal a {
        border-bottom-width: 2px;
    }

    .mobile-title {
        display: none;
    }

    h1 {
        display: inline;
        margin-bottom: 1rem;
    }

    .post-section{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    .md-none{
        display: none;
    }
    .md{
        display :inline;
    }


}
@media only screen and (min-width : 992px){
    .navigation {
        width: auto;
        padding-right: 3rem !important;
    }
    .post-section{
        width:auto;
        padding-left: 2rem;
    }
}


